/*btns*/
.btns {
    padding-top: 1rem;
}

a.btn-back, .btn-back {
  -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  display: block;
  max-width: 180px;
  text-decoration: none;
  border-radius: 4px;
  padding: 20px 30px;

  color: rgba(211, 211, 211, 0.6);
  box-shadow: rgba(211, 211, 211, 0.5) 0 0px 0px 2px inset;
  text-align: center;
}

a.btn-back:hover, .btn-back:hover {
  color: antiquewhite;

  box-shadow: rgba(211, 211, 211, 0.5) 0 80px 0px 2px inset;
}

.modal-btn {
  margin-top: 1rem;
}