.codes, html{
    background-color: #28505D;
}

.collections {
    column-count: 3;
}
.btns {
    margin-bottom: 1rem;
}
.hover {
    position: relative;
    width: 100%;
    height:100%;
    overflow: hidden;
    margin-right: 0.5rem;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    margin-bottom: 1rem;
}
.hover-img img {
    width: 100%;
    height: 50%;
}
.hover .hover-text {
    position:    absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #fff;
    background-color:    rgba(128,128,128,0.65 );
    /*透明にして表示させない*/
    opacity: 0;
    /*ホバーの動き方*/
    transition: .3s ease-in-out;
}
/*ホバーエフェクト*/
.hover:hover .hover-text {
    /*不透明にして表示*/
    opacity: 1;
    /*padding-topで上からスライド*/
    padding-top: 10px;
}
.collection-name {
    margin-top: 2rem;
    margin-left: 2rem;
    font-weight: bold;
    color: antiquewhite
}
.collection-about {
    margin-top: 2rem;
    margin-left: 2rem;
    font-weight: bold;
    color: whitesmoke;
    white-space: pre-wrap;
}
.collection-link {
    opacity: 0;
}

.language {
    position: absolute;
    right: 0;
    top: 0;
}

.collection-language {
    font-weight: bold;
    color: whitesmoke;
    padding: 0.5rem;
    background-color: black;
}