{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'output/css/code_list.css' %}">
    <link rel="stylesheet" href="{% static 'output/css/btns.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/css/accounts_base.css' %}">
{% endblock %}

{% block title %}Profile{% endblock %}

{% block content %}
    <div class="codes">
        {% if message %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>メッセージを送信しました！</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        <div class="container" style="text-align: center; color: antiquewhite; padding-top: 1rem">
            <h2>レビューリクエスト</h2>
        </div>
        <div class="container tooltips-item-profile" style="text-align: center;">
            <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="right"
                    title="レビューをリクエストしているコードです。">
                レビューとは？
            </button>
        </div>
        <div class="container text">
            {% for review_code in review_codes %}
                <div class="card-code">
                        <div class="front">
                            <div class="front-texts">
                                <h1 class="front-text">{{ review_code.program_id.name }}</h1>
                            </div>
                        </div>
                        <div class="back">
                            <div class="back-texts">
                                <h3 class="back-text">{{ review_code.program_id.name }}</h3>
                                <p class="back-text">{{ review_code.username }}</p>
                                <div class="container btns">
                                    <a href="{% url 'output:review_check' review_code.id %}" class="btn-back">レビュー確認</a>
                                </div>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </div>
        <div class="container" style="text-align: center; color: antiquewhite; padding-top: 1rem">
            <h2>アウトプットテーマ</h2>
        </div>
        <div class="container tooltips-item-profile" style="text-align: center;">
            <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="right"
                    title="自分が作成したアウトプットテーマです。">
                アウトプットテーマとは？
            </button>
        </div>
        <div class="container text">
            {% for output in outputs %}
                <div class="card-code">
                        <div class="front">
                            <div class="front-texts">
                                <h1 class="front-text">{{ output.title }}</h1>
                            </div>
                        </div>
                        <div class="back">
                            <div class="back-texts">
                                <h3 class="back-text">{{ output.title }}</h3>
                                <div class="container btns">
                                    <a href="{% url 'output:output_detail' output.id %}" class="btn-back">詳細</a>
                                </div>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </div>
        <div class="container" style="text-align: center;color: antiquewhite">
            <hr>
            <h2>コード</h2>
        </div>
        <div class="container tooltips-item-profile" style="text-align: center;">
            <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="right"
                    title="アウトプットテーマにそって作成したコードです。">
                コードとは？
            </button>
        </div>
        <div class="container text">
            {% for program in programs %}
                <div class="card-code">
                        <div class="front">
                            <div class="front-texts">
                                <h1 class="front-text">{{ program.name }}</h1>
                            </div>
                        </div>
                        <div class="back">
                            <div class="back-texts">
                                <h3 class="back-text">{{ program.name }}</h3>
                                <div class="container btns">
                                    <a href="{% url 'output:code_detail' program.id %}" class="btn-back">詳細</a>
                                </div>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}