{% extends "base.html" %}
{% load markdown_extras %}
{% load static %}


{% block head %}
    <link rel="stylesheet" href="{% static 'output/css/code_detail.css' %}">
    <link rel="stylesheet" href="{% static 'output/css/btns.css' %}">
{% endblock %}

{% block title %}CodeReviewl{% endblock %}

{% block content %}
    <div class="codes">
        <div class="container btns">
            <a href="{% url 'output:review_list' %}" class="btn-back">一覧に戻る</a>
        </div>
        <div class="container text" style="margin-top: 1rem;">
            <form action="{% url 'output:code_review' program_id %}" method="POST">
                {% csrf_token %}
                <input hidden type="text" name="username" value="{{ user.username }}">
                <input hidden type="text" name="program_id" value="{{ program_id }}">
                <textarea name="code" id="" cols="30" rows="10" class="form-control">{{ code }}</textarea>
                <button type="submit" class="submit-btn" style="margin-top: 1rem">
                    レビュー
                    <i class="fas fa-laptop-code icon"></i>
                </button>
            </form>
        </div>
    </div>
{% endblock %}