{% extends "base.html" %}
{% load markdown_extras %}
{% load static %}


{% block head %}
    <link rel="stylesheet" href="{% static 'output/css/code_detail.css' %}">
    <link rel="stylesheet" href="{% static 'output/css/btns.css' %}">
{% endblock %}

{% block title %}CodeDetail{% endblock %}

{% block content %}
    <div class="codes">
        <div class="container btns">
            <a href="{% url 'output:code_list' code.output.id %}" class="btn-back">一覧に戻る</a>
        </div>
        <div class="container">
            <div class="btns btn-back modal-btn" type="button"
                 data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                 コメント
            </div>
            <!-- Modal -->
            <div class="modal fade"
                 id="staticBackdrop"
                 data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                 aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">コメント</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {% for comment in comments %}
                                {% if comment.username == user.username %}
                                    <label class="comment-user-me">{{ comment.username }}</label>
                                    <div class="comment-text-me">
                                        <label class="comment-me">{{ comment.comment }}</label>
                                    </div>
                                {% else %}
                                    <label class="comment-user">{{ comment.username }}</label>
                                    <div class="comment-text">
                                        <label class="comment">{{ comment.comment }}</label>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                            <div class="container">
                                <form action="{% url 'output:comment' %}" method="POST">
                                    {% csrf_token %}
                                    <input hidden type="text" name="message" value="code">
                                    <input hidden type="text" name="code_id" value="{{ code.pk }}">
                                    <input hidden type="text" name="username" value="{{ user.username }}">
                                    <input hidden type="text" name="output_id" value="{{ code.output.id }}">
                                    <div class="form-floating">
                                        <textarea class="form-control" placeholder="コメント" id="floatingTextarea2"
                                              style="height: 100px" name="comment" required></textarea>
                                        <label for="floatingTextarea2">コメント</label>
                                    </div>
                                    <div class="" style="margin-top: 0.5rem">
                                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">閉じる</button>
                                        <button type="submit" class="btn btn-outline-success">送信</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if code.username == user.username %}
            <div class="container btns">
                <a href="{% url 'output:review_on' code.id %}" class="btn-back">コードレビュー</a>
            </div>
            <div class="container btns">
                <a href="{% url 'output:code_update' code.id code.output.id good %}" class="btn-back">編集</a>
            </div>
            <div class="container btns">
                <a href="{% url 'output:code_delete' code.id code.output.id %}" class="btn-back">削除</a>
            </div>
        {% endif %}
        <div class="container btns">
            <form action="{% url 'output:good' %}" method="POST">
                {% csrf_token %}
                <input hidden type="text" name="username" value="{{ user.username }}">
                <input hidden type="text" name="program_id" value="{{ code.id }}">
                <button type="submit" class="submit-btn">
                    {{ good }}
                    <i class="far fa-thumbs-up icon"></i>
                </button>
            </form>
        </div>
        <div class="container text">
            <h1 class="title element">{{ code.output.title }}</h1>
            <hr>
            <h3 class="about element">{{ code.name }}</h3>
            <hr>
            <h3 class="description element">{{ code.description }}</h3>
            <hr>
            <div class="images">
                {% if code.image01 %}
                    <img src="{{ code.image01.url }}" alt="アウトプット画像" class="img-thumbnail"
                        style="width: 300px;">
                {% endif %}
                {% if code.image02 %}
                    <img src="{{ code.image02.url }}" alt="アウトプット画像" class="img-thumbnail"
                         style="width: 300px;">
                {% endif %}
                {% if code.image03 %}
                    <img src="{{ code.image03.url }}" alt="アウトプット画像" class="img-thumbnail"
                         style="width: 300px;">
                    {% endif %}
                {% if code.image04 %}
                    <img src="{{ code.image04.url }}" alt="アウトプット画像" class="img-thumbnail"
                         style="width: 300px;">
                {% endif %}
            </div>
            <hr>
            <div class="markdown-cord">
                <h3 class="code element">{{ code.code | markdown | safe }}</h3>
            </div>
        </div>
    </div>
{% endblock %}