{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'output/css/output_create.css' %}">
    <link rel="stylesheet" href="{% static 'output/css/btns.css' %}">
{% endblock %}

{% block title %}CodeDetail{% endblock %}

{% block content %}
    <div class="codes">
        <div class="container btns">
            <a href="{% url 'output:output_list' %}" class="btn-back">一覧に戻る</a>
        </div>
        <div class="container forms">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input hidden type="text" name="username" maxlength="100" required="" id="id_username" value="{{ user.username }}">
                <label for="title">*アウトプットタイトル[必須]:</label>
                <p>{{ form.title }}</p>
                <label for="about">*アウトプット概要[必須]:</label>
                <p>{{ form.about }}</p>
                <label for="description">*アウトプット詳細説明（ルールなど）[必須]:</label>
                <p>{{ form.description }}</p>
                <label for="about">*プログラミング言語[必須]:</label>
                <p>{{ form.language }}</p>
                <label for="image">画像[必須]:</label>
                <div class="input-group">
<!--                    <input type="file" name="image" accept="image/*" class="image form-control" placeholder="画像（必須）"-->
<!--                           id="id_image">-->
                    {{ form.image }}
                </div>
                <button type="submit" class="submit-btn" style="margin-top: 1rem">作成</button>
            </form>
        </div>
    </div>
{% endblock %}