{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'output/css/output_list.css' %}">
    <link rel="stylesheet" href="{% static 'output/css/btns.css' %}">
{% endblock %}

{% block title %}Output{% endblock %}

{% block content %}
    <div class="codes">
        <div class="container tooltips-item">
            <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="right"
                    title="アウトプットテーマを作成できます。">
                新規作成とは？
            </button>
        </div>
        <div class="container btns">
            <a href="{% url 'output:output_create' %}" class="btn-back">新規作成</a>
        </div>
        <div class="container collections">
            {% for output in outputs %}
                <div class="hover">
                    <div class="hover-img">
                        <img src="{{ output.image.url }}" class="card-img" alt="アウトプット画像">
                    </div>
                    <div class="hover-text">
                        <h2 class="collection-name">
                            {{ output.title }}
                        </h2>
                        <h5 class="collection-about">{{ output.about }}</h5>
                        <h5 class="collection-language language">
                            {% if output.language == "JavaScript" %}
                                <i class="fab fa-js"></i>
                                {{ output.language }}
                            {% else %}
                                <i class="fab fa-{{ output.language | lower }}"></i>
                                {{ output.language }}
                            {% endif %}
                        </h5>
                        <a href="{% url 'output:output_detail' output.pk %}" class="collection-link btn stretched-link"
                           tabindex="-1" role="button" aria-disabled="true">
                            Detail
                            <i class="fas fa-question-circle"></i>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}