{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'output/css/output_detail.css' %}">
    <link rel="stylesheet" href="{% static 'output/css/btns.css' %}">
{% endblock %}

{% block title %}Output{% endblock %}

{% block content %}
    <div class="detail">
        <div class="container btns">
            <a href="{% url 'output:output_list' %}" class="btn-back">一覧に戻る</a>
        </div>
        <div class="container">
            <div class="btns btn-back modal-btn" type="button"
                 data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                 コメント
            </div>
            <!-- Modal -->
            <div class="modal fade"
                 id="staticBackdrop"
                 data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                 aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">コメント</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {% for comment in comments %}
                                {% if comment.username == user.username %}
                                    <label class="comment-user-me">{{ comment.username }}</label>
                                    <div class="comment-text-me">
                                        <label class="comment-me">{{ comment.comment }}</label>
                                    </div>
                                {% else %}
                                    <label class="comment-user">{{ comment.username }}</label>
                                    <div class="comment-text">
                                        <label class="comment">{{ comment.comment }}</label>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                            <div class="container">
                                <form action="{% url 'output:comment' %}" method="POST">
                                    {% csrf_token %}
                                    <input hidden type="text" name="message" value="output">
                                    <input hidden type="text" name="username" value="{{ user.username }}">
                                    <input hidden type="text" name="output_id" value="{{ output.pk }}">
                                    <div class="form-floating">
                                        <textarea class="form-control" placeholder="コメント" id="floatingTextarea2"
                                              style="height: 100px" name="comment" required></textarea>
                                        <label for="floatingTextarea2">コメント</label>
                                    </div>
                                    <div class="" style="margin-top: 0.5rem">
                                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">閉じる</button>
                                        <button type="submit" class="btn btn-outline-success">送信</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container text">
            <h1 class="title">{{ output.title }}</h1>
            <h3 class="about">{{ output.about }}</h3>
            <h3 class="description">{{ output.description }}</h3>
            <h3 class="description">{{ output.language }}</h3>
        </div>
        {% if output.username == user.username %}
            <div class="container">
                <a href="{% url 'output:output_update' output.pk %}" class="btn btn-click">編集</a>
            </div>
            {% if program_count < 3 %}
                <div class="container">
                    <a href="{% url 'output:output_delete' output.pk %}" class="btn btn-click">削除</a>
                </div>
            {% endif %}
        {% endif %}
        <div class="container">
            <a href="{% url 'output:code_list' output.pk %}" class="btn btn-click">作品を確認する</a>
        </div>
        <div class="container">
            <a href="{% url 'output:code_create' output.pk %}" class="btn btn-click">作品を登録！</a>
        </div>
        <svg viewBox="0 0 3000 2000" class="plane" class="plane-svg">
            <path id="planePath" class="planePath" d="M-226 626c439,4 636,-213 934,-225 755,-31 602,769 1334,658 562,-86 668,-698 266,-908 -401,-210 -893,189 -632,630 260,441 747,121 1051,91 360,-36 889,179 889,179" />
            <g id="plane">
            <polygon class="fil1" points="-141,-10 199,0 -198,-72 -188,-61 -171,-57 -184,-57 " />
            <polygon class="fil2" points="199,0 -141,-10 -163,63 -123,9 " />
            <polygon class="fil3" points="-95,39 -113,32 -123,9 -163,63 -105,53 -108,45 -87,48 -90,45 -103,41 -94,41 " />
            <path class="fil4" d="M-87 48l-21 -3 3 8 19 -4 -1 -1zm-26 -16l18 7 -2 -1 32 -7 -29 1 11 -4 -24 -1 -16 -18 10 23zm10 9l13 4 -4 -4 -9 0z" />
            <polygon class="fil1" points="-83,28 -94,32 -65,31 -97,38 -86,49 -67,70 199,0 -123,9 -107,27 " />
            </g>
            <!-- Define the motion path animation -->
            <animateMotion xlink:href="#plane" dur="5s" repeatCount="indefinite" rotate="auto">
            <mpath xlink:href="#planePath" />
            </animateMotion>
        </svg>
    </div>
{% endblock %}