<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(211, 211, 211, 0.8)">
    <div class="container-fluid">
        <a class="navbar-brand app-logo" style="color:darkcyan; font-size: 30px" href="#"><strong>Q</strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-tab">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'output:output_list' %}"
                       style="font-weight: bold; font-size: 18px">
                        Home
                    </a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'accounts:profile' user.username %}" style="font-weight: bold; font-size: 18px">{{ user.get_username }}</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'accounts:logout' %}" style="font-weight: bold; font-size: 18px">LogOut</a>
                    </li>
                {% else %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'accounts:signup' %}" style="font-weight: bold; font-size: 18px">SignUp</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'accounts:login' %}" style="font-weight: bold; font-size: 18px">Login</a>
                    </li>
                {% endif %}
            </ul>
{#                    <form class="d-flex" action="{% url 'question:home' %}" method="get">#}
{#                        <input name="q" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">#}
{#                        <button class="btn btn-outline-success" type="submit">Search</button>#}
{#                    </form>#}
        </div>
    </div>
</nav>
